// Colors
$color-turquoise-dark: rgba(77, 150, 169, 1);
$color-turquoise-medium: rgba(113, 192, 212, 1);
$color-turquoise-light: rgba(143, 227, 249, 1);
$color-purple-dark: rgba(133, 95, 177, 1);
$color-purple-medium: rgba(177, 139, 221, 1);
$color-purple-light: rgba(217, 184, 255, 1);
$color-black: rgba(40, 40, 61, 1);
$color-gray: rgba(135, 135, 157, 1);
$color-white: rgba(250, 250, 250, 1);

// Font weights
$weight-medium: 500;
$weight-black: 900;
